@import "../../node_modules/bootstrap/scss/functions";

@import 'variables';

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'container-xxl';
@import 'mixins';
@import 'contacts';
@import 'img';
@import 'avatar';
@import 'contact';
@import 'chat';
@import 'profile';
@import 'mobile-version';
@import 'form';
@import 'utilities/border';
@import 'utilities/radius';
