.chat-container {
  padding: 49px;
  position: relative;
}

.message {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  &:nth-child(2n+1) {
    justify-content: flex-start;
  }
  &:nth-child(2n+2) {
    justify-content: flex-end;
  }
  & h6 {
    margin-bottom: 0.25rem;
  }
  & p {
    margin-bottom: 0.5rem;
  }
  & img {
    margin-right: 1rem;
  }
  & hr {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

.message-item {
  max-width: 558px;
  padding: 1.5rem;
  & span {
    font-size: 14px;
  }
}

.message-light {
  background: $light;
  & p, span {
    color: $secondary;
  }
  & hr {
    color: $light;
  }
}

.message-primary {
  background: $primary;
  & h6, p, span {
    color: $white;
  }
  & hr {
    color: $gray;
  }
}
