@mixin hide-scrollbar() {
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin style-input() {
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: $border-width solid $border-color;
  background: $white;
}
