@media (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    width: 100vw;
    & span {
      display: none;
    }
    z-index: 1;
  }

  .bg-gray {
    padding: 0 !important;
  }

  .container-xxl {
    border-radius: 0 !important;
  }

  .row .border-end {
    border-right: none !important;
  }

  .contact-info h6, 
  .chat h6 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px !important;
  }

  .contact-info p,
  .chat p {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  #profile input {
    margin-bottom: 82px !important;
  }

  .mobile-100vh {
    min-height: 100vh;
  }

  .mobile-none {
    display: none !important;
  }

  .mobile-p-0 {
    padding: 0 !important;
  }

  .chat-container {
    max-height: calc(100vh - 240px);
    & .message {
      margin-bottom: 13px;
    }
    & img {
      display: none;
    }
    & .message-light {
      & p, span {
        color: $secondary;
      }
    }
    & .message-primary {
      & span {
        color: $light;
      }
    }
  }

  .writing-message {
    & img {
      width: 42px !important;
      height: 42px !important;
      padding-left: 8px !important;
      padding-right: 12px !important;
      padding-bottom: 8px !important;
      padding-top: 12px !important;
    }
    & button {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
      margin-right: 16px !important;
    }
    & input {
      margin-left: 32px !important;
    }
  }

  header .contact-info {
    padding-bottom: 22px !important;
  }

  nav a:last-child img {
    margin-right: 32px !important;
  }
}

@media (min-width: 767px) {
  .sms-icon {
    display: none !important;
  }
  .desktop-none {
    display: none !important;
  }
}

.bottom-40 {
  bottom: 40px;
}
