@media (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    width: 100vw;
    & span {
      display: none;
    }
    z-index: 1;
  }

  .bg-gray {
    padding: 0 !important;
  }

  .radius {
    border-radius: 0;
  }

  .row .border-end {
    border-right: none !important;
  }

  .contact-info h6, 
  .chat h6 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px !important;
  }

  .contact-info p,
  .chat p {
    font-size: 14px !important;
    line-height: 21px !important;
  }

  #profile input {
    margin-bottom: 82px !important;
  }

  .mobile-100vh {
    min-height: 100vh;
  }
}

