@media (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    width: 100vw;
    & span {
      display: none;
    }
  }

  .bg-gray {
    padding: 0 !important;
  }

  .radius {
    border-radius: 0;
  }

  // #contacts .contact > p {
  //   margin-bottom: 23px;
  // }

  .row .border-end {
    border-right: none !important;
  }

  .contact-info h6, 
  .chat h6 {
    margin-bottom: 7px;
    font-weight: bold;
  }

  .contact-info p,
  .chat p {
    font-size: 14px !important;
    line-height: 21px !important;
  }
}

