@media (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    width: 100vw;
    & span {
      display: none;
    }
  }

  .bg-gray {
    padding: 0 !important;
  }

  .radius {
    border-radius: 0;
  }

  #contacts .contact > p {
    margin-bottom: 23px;
  }

  .row .border-end {
    border-right: none !important;
  }

  .contact-info h6 {
    margin-bottom: 4px;
  }
}