header .contact-item {
  & h6 {
    margin-bottom: 6px;
  }&:hover {
    background: $white;
    & h6 {
      color: $dark;
    }
    & p {
      color: $secondary !important;
    }
  }
  & img {
    margin-left: 1rem;
  }
}

.chat-container {
  padding: 49px;
  position: relative;
}

.message {
  margin-bottom: calc(1rem - 4px);
  display: flex;
  align-items: flex-end;
  &:nth-child(2n+1) {
    justify-content: flex-start;
  }
  &:nth-child(2n+2) {
    justify-content: flex-end;
  }
  & h6 {
    line-height: 24px;
    margin-bottom: 0.25rem;
  }
  & p {
    line-height: 24px;
    margin-bottom: 0.5rem;
  }
  & hr {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
  & img {
    margin-right: 1rem;
  }
}

.message-item {
  max-width: 558px;
  padding: 1.5rem;
  & span {
    font-size: 14px;
  }
}

.message-light {
  background: $light;
  & p, span {
    color: $dark;
  }
  & hr {
    color: $gray;
  }
}

.message-primary {
  background: $primary;
  & h6, p, span {
    color: $white;
  }
  & hr {
    color: $gray;
  }
}

.writing-message {
  & input {
    margin-left: calc(49px + 1.5rem);
    flex-grow: 1;
  }
  & ::placeholder {
    font-size: 16px;
    color: $secondary;
  }
  & button {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 56px;
    border: none;
    background: $white;
  }
  & img {
    padding-left: 13px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 13px;
    background: $primary;
  }
}

