div#chats.tab-pane.p-4.tab-pane.fade.show(role="tabpanel" aria-labelledby="chats")
  h2.my-4.fw-bold Чаты
  input#input-4.form-control.p-4.mb-5(type="text" placeholder="Поиск по сообщениям")
  a.chat.mb-3(href="#")
    img.avatar.avatar-sm(src="./images/avatar_4.jpg", alt="avatar")
    .chat-info.p-4 
      h6 Вениамин Редакторович
        span.small.text-muted 11:45
      p.text-muted o_O
  a.chat.mb-3(href="#")
    img.avatar.avatar-sm(src="./images/avatar_2.jpg", alt="avatar")
    .chat-info.p-4 
      h6 Джедай Падаванов
        span.small.text-muted 10:12
      p.text-muted Привет, скоро третий проект? Уже скоро надо будет выложить
  a.chat.mb-3(href="#")
    img.avatar.avatar-sm(src="./images/avatar_3.jpg", alt="avatar")
    .chat-info.p-4 
      h6 Алексей Примадонин
        span.small.text-muted 08:53
      p.text-muted Тесты упали >_<
