.header.bg-primary.d-flex.justify-content-between.align-items-center.pt-3.pb-3 
  a.ms-4.mx-auto(href="#")
    img.color-fill(src="images/icons/logo.svg" width="15" alt="главная")
  nav#mytab.d-flex.nav(role="tablist")
    a#contacts-tab.d-flex.mx-3.align-items-center.text-decoration-none(href="#contacts" data-bs-toggle="tab" role="tab" aria-controls="contacts" aria-selected="true")
      img.color-fill.me-2(src="images/icons/people.svg" width="25" height="40" alt="контакты")
      span.text-light Контакты
    a#chats-tab.d-flex.mx-3.align-items-center.text-decoration-none(href="#chats" data-bs-toggle="tab" role="tab" aria-controls="chats" aria-selected="true")
      img.color-fill.me-2(src="images/icons/chat.svg" width="25" height="40" alt="сообщения")
      span.text-light Сообщения
    a#profile-tab.d-flex.mx-3.align-items-center.text-decoration-none(href="#profile" data-bs-toggle="tab" role="tab" aria-controls="profile" aria-selected="true")
      img.color-fill.me-2(src="images/icons/person.svg" width="25" height="40" alt="профиль")
      span.text-light Профиль
