div#current-chat.tab-pane.pt-5.px-4.mobile-p-0.tab-pane.fade.show.desktop-none(role="tabpanel" aria-labelledby="current-chat")
  header.border-bottom-gray 
    .contact-item.shadow-none 
      img.avatar.avatar-sm(src="./images/avatar_4.jpg", alt="avatar")
      .contact-info.p-4 
        h6.fw-bold Вениамин Редакторович
        p.text-muted Онлайн
  .chat-container.scrollbar 
    .message 
      img.avatar.avatar-sm(src="./images/avatar_4.jpg", alt="avatar")
      .message-item.message-light.radius.shadow-sm 
        h6.fw-bold Вениамин Редакторович
        p Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
        hr
        span 8 минут назад
    .message 
      img.avatar.avatar-sm(src="./images/avatar_1.jpg", alt="avatar")
      .message-item.message-primary.radius.shadow-sm 
        p Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
        hr
        span 5 минут назад
    .message 
      img.avatar.avatar-sm(src="./images/avatar_4.jpg", alt="avatar")
      .message-item.message-light.radius.shadow-sm 
        h6.fw-bold Вениамин Редакторович
        p Лады
        hr
        span 5 минут назад
    .message 
      img.avatar.avatar-sm(src="./images/avatar_1.jpg", alt="avatar")
      .message-item.message-primary.radius.shadow-sm 
        p А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
        hr
        span 3 минут назад
    .message 
      img.avatar.avatar-sm(src="./images/avatar_4.jpg", alt="avatar")
      .message-item.message-light.radius.shadow-sm 
        h6.fw-bold Вениамин Редакторович
        p о_О
        hr
        span только что
  .writing-message.position-relative.d-flex.align-items-center.justify-content-between.border-top
    input.border-0.shadow-none(type="text" placeholder="Напишите сообщение")
    button 
      img.avatar.avatar-sm(src="./images/icons/Vector-4.svg", alt="button send")
