h2.my-4.fw-bold Профиль
input#input-5.form-control.p-4.mb-5(type="text" placeholder="Поиск по контактам")
.card 
  img.avatar.avatar-md(src="./images/avatar_1.jpg", alt="avatar")
  .py-3.mb-3 
    h6.text-center.fw-bold.mb-3 Кодовёнок Хекслетович
    p.text-muted.text-center Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
ul.list-group.list-group-flush 
  li.list-group-item.py-3.mb-1 
    .profile-info 
      p.text-muted Страна
      p Москва, Россия
    img(src="./images/icons/Vector.svg", alt="icon")
  li.list-group-item.py-3.mb-1 
    .profile-info 
      p.text-muted Телефон
      p +7 (499) 123-45-67
    img(src="./images/icons/Vector (1).svg", alt="icon")
  li.list-group-item.py-3.mb-1 
    .profile-info 
      p.text-muted Email
      p nikita.m@hexlet.io
    img(src="./images/icons/Vector (2).svg", alt="icon")
  li.list-group-item.py-3.mb-1 
    .profile-info 
      p.text-muted Twitter
      p @n__mikhaylov
    img(src="./images/icons/Vector(3).svg", alt="icon")
